
@property --bgcolor1 {
    syntax: '<color>';
    initial-value: #3ab890;
    inherits: false;
}
@property --bgcolor2 {
    syntax: '<color>';
    initial-value: #165391;
    inherits: false;
}




* {

    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    color: #eff1f5;
    padding: 0px;
    margin: 0px;
}

html {
    background-image: url("../images/bg-login.jpg");
    background-size:cover;
}




body{
    display: flex;
    flex-direction: column;
}

.header , .footer{
    background:rgba(0,0,0,0.33);
    height: 8vh;
    height: 8dvh;
    text-align: center;
    backdrop-filter: blur(10px);
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 84vh;
    min-height: 84dvh;
}

#box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: none;
    backdrop-filter: blur(50px);
    max-width: 90vw;
    transition: all 1s ease-out;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    color: var(--darktxt);
    background-image: repeating-linear-gradient( 45deg,#1e1e2e,#0b1620 4px, var(--bgcolor2) 5px, var(--bgcolor1) 25px );
}
.login{
    -webkit-transition:--bgcolor1, --bgcolor2  .5s ease-in-out;
  transition: --bgcolor1, --bgcolor2  .5s ease-in-out;

}

.login:hover{
    --bgcolor1: #c31432;
    --bgcolor2: #240b36;
}


@property --bgcolor3 {
    syntax: '<color>';
    initial-value: #b5b5f1;
    inherits: false;
}
@property --bgcolor4 {
    syntax: '<color>';
    initial-value: #e2edf7;
    inherits: false;
}
@property --bgcolor5 {
    syntax: '<color>';
    initial-value: #b9f9fc;
    inherits: false;
}
@property --bgcolor6 {
    syntax: '<color>';
    initial-value: #575e86 ;
    inherits: false;
}

.switch{
    display: flex;
    align-items: center;
    background-image: repeating-linear-gradient( -45deg,var(--bgcolor3) 2px, var(--bgcolor4) 2px, var(--bgcolor5) 5px,var(--bgcolor6) 25px);
}

.switch{
    -webkit-transition:--bgcolor3, --bgcolor4,--bgcolor5, --bgcolor6  .6s ease-in-out;
  transition: --bgcolor3, --bgcolor4,--bgcolor5, --bgcolor6  .6s ease-in-out;

}

#switch-title{
    -webkit-transition: color .7s ease-in-out;
  transition: color .7s ease-in;

}

.switch:hover{
    cursor: pointer;
    --bacolor3:#1e1e2e;
    --bgcolor4:#0b1620;
    --bgcolor5: #c31432;
    --bgcolor6: #240b36;
}

.switch:hover > #switch-title{
    color: #eff1f5;
}



#login-title {
    margin: 0 1rem 0 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
}


.title p{
    font-weight: 600;
    font-size: clamp(1.65rem, 4.2vw, 2.4rem);
}
#switch-title{
    font-size: clamp(1.6rem, 4.2vw, 2.3rem);
    font-weight: 500;
    writing-mode: vertical-lr;
    margin: 1rem;
    color: black;
}
.form p{
    margin: .9rem;
    font-weight: 500;
    font-size: clamp(1.49rem,3.8vw,1.8rem);
}


.myform {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}


.eachform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.end{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

p {
    text-align:center;
}



input[type=text], input[type=password] {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.33rem,3.8vw,1.4rem);
    color: black;
    text-align: center;
    width: 70%;
    border-style: none;
    padding: 0px 15px;
}








